
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --bg-color: #191919;
    --secont-color: #101010;
    --main-color: #e9204f;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Header and navigation links */
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease 0.5s;
}

.logo a {
    width: 100%;
    height: auto;
}

.navlinks {
    display: flex;
}

.navlinks a {
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600px;
    margin: 0 40px;
    transition: all-ease .40s;
}

.navlinks a:hover {
    color: var(--main-color);
}

/* Hero section */
section {
    padding: 120px 19% 100px;
}

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../jpg-files/PROFILE\ PICTURE\ copy.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero h3 {
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}

.hero h1 {
    font-family: 'Dosis', sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 100;
    margin-bottom: 10px;
    word-spacing: 25px;
}

.hero h4 {
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 15px;
    border-bottom: 3.5rem;
}

.btn {
    display: inline-block;
    padding: 16px 45px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: var(--p-font);
    margin-top: 1rem;
    font-weight: 600;
    border: 1px solidvar(--main-color;
    transition: all ease .50s;
}

.btn:hover {
    transform: translateX(5px);
    background: transparent;
    border: 1px solidvar(--main-color;
}

